body{
  margin: 0;
}

.App {
  height: 100vh;
  text-align: center;
}


.App-header {
  background-color: rgb(14, 167, 78);
  height: 50px;
  width: 100vw;
  padding: 20px;
  color: white;
  text-align: center;
  
}
.headerHomePage  {
  background-color: rgb(14, 167, 78);
  height: 12vh;
  /* width: 100%; */
 }
 
 .navbar-brand {
  font-size: 1.8em;
  font-weight: 700;
  font-family: "Helvetica";
 }

.App-intro {
  font-size: large;
}
 
.App__Form {
  width: 100vw;
  height: 80vh;
  
  background-color: rgb(235, 239, 245);
  /* padding: 25px; */
  overflow: auto
} 
.FormTitle__Link {
  color: white;
  background-color: skyblue;
  padding: 5px;
 
}
.FormField {
  padding-top: 50px;
  font-size: 1.5rem;
}
.FormField__Input {
  margin-left: 20px;
  font-size: 1.2rem;
}
.FormField__Link {
  padding-left: 10px;
  font-size: 1.2rem;
  color: black;
}
.FormField__Button {
 padding: 5px;
 font-size: 1.1rem;
}
.FormTitle {
  color:black;
}
