.course-body{
    display: flex;
    /* border:2px solid red; */
    justify-content: center;
    padding:50px;
    /* flex-direction: column; */
    /* background-image: url(./color.jpg); */
    background-size: cover;
}

.course{
    /* border:0.5px solid black; */
    width:60%;
    background:white;
    box-shadow: 3px 3px 3px 3px #c76071;
    border-radius: 2px;
    flex-direction: column;
    padding:15px;
    

}
.form-group{
    padding-left:50px;
    padding-right: 50px;
    /* border:1px solid green; */
}
.vedio-detail{
    padding-left:90px;
    padding-right: 80px;
    display: flex;
    margin-bottom: 10px;
    /* border:2px solid black; */
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
    background: #a5a8a5;
    border-radius: 3%;

}

.course-name{
    font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
    /* font-weight: 300; */
    font-size: 30px;
    color: #29303b;
    
}
.course-input{
    box-shadow: 3px 3px #a5a8a5;
    margin-bottom: 10px;
    
}
.section-name{
    font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
    /* font-weight: 300; */
    font-size: 25px;
    color: #29303b
}
.vedio-title{
    font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
    /* font-weight: 300; */
    /* font-size: 15px; */
    color: #29303b;
    margin-right: 30px;
}
.vedio-url{
    font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
    /* font-weight: 300; */
    /* font-size: 15px; */
    color: #29303b
}
.submit{
    margin-left: 40%;
}