.course-body{
    display: flex;
    /* border:2px solid red; */
    justify-content: center;
    padding:50px;
    flex-direction: column;
    /* background-image: url(./color.jpg); */
    background-size: cover;
}

.course{
    /* border:0.5px solid black; */
    width:60%;
    background:white;
    box-shadow: 3px 3px 3px 3px #c76071;
    border-radius: 2px;
    flex-direction: column;
    padding:15px;
    margin-left:16em
}
.add-section{
/* border:2px solid green; */
width: 11vw;
margin-bottom: 20px;
}    

.form-group{
    padding-left:50px;
    padding-right: 50px;
    /* border:1px solid green; */
}
.vedio-detail{
    padding-left:30px;
    padding-right: 80px;
    display: flex;
    margin-bottom: 10px;
    /* border:2px solid black; */
    margin-left: 50px;
    margin-right: 50px;
    
    padding-bottom: 10px;
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);;
    border-radius: 3%;

}

.course-name{
    font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
    /* font-weight: 300; */
    font-size: 30px;
    color: #29303b;
    
}
.course-input{
    box-shadow: 3px 3px #a5a8a5;
    margin-bottom: 10px;
    
}

.section-name{
    font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
    /* font-weight: 300; */
    font-size: 25px;
    color: #29303b
}
.vedio-title{
    font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
    /* font-weight: 300; */
    /* font-size: 15px; */
    color: #eff2f7;
    margin-right: 20px;
}
.vedio-url{
    font-family:open sans,helvetica neue,Helvetica,Arial,sans-serif;
    /* font-weight: 300; */
    /* font-size: 15px; */
    /* color: #29303b */
    color: #eff2f7;
}
.submit{
    margin-left: 40%;
}
.continue{
    margin-left: 10px;
    
}
.addSection{

}
.add{
    margin-left:10px;
    height: 40px;
    margin-top: 30px;
}
.a{
    display: flex;
    
}
.courseName{
    font-size: 2em;
    margin-left: 8em;
    margin-bottom: 20px;
    /* border:1px solid red; */
    border-radius: 3px;
    box-shadow:2px 2px 2px 2px #c76071;
    margin-right: 6.9em;
    padding:10px;
    
    color:#29303b;;

}
.course_name{
    /* border-bottom: 1px solid ; */
    box-shadow: 1px 1px 1px 1px #c76071
    
}
.sections{
    margin-left:20px;
}
.vedioName{
    margin-left: 30px;
    font-size: .6em;
    color:#29303b;

}
.section-list{
    font-size: .8em;
}
.v{
    background: #6E1A52;
    color:white;
    border-radius: 5px;
    font-size: .8em;
    padding: 3px;
    /* margin-right: 10px; */
}
.u{
    background: rgb(184, 48, 138);
    color:white;
    border-radius: 5px;
    margin-left:20px;
    font-size: .8em;
    padding: 3px;
}